.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}



.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;     /* undo display:none          */
  height: 0;          /* height:0 is also invisible */
  overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
  height: auto;       /* let the content decide it  */
}


h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

/*hr {*/
  /*margin-top: 40px;*/
  /*margin-bottom: 40px;*/
/*}*/


* {
  margin-top: 0px;
}

body {
  /*padding-top: 20px;*/
  /*padding: 25px;*/
  margin-top: 0px  !important;
}



ul.specs dt {
  font-weight: bold;
}

.osper_banner {
  width:100%;
  height:20%;
  background-image:url('../img/alps_small.jpg');
  background-size:cover;
}

.osper_banner img {
  width:100%;
}


#header h2 {
  /*border-bottom: 1px solid gray;*/
  padding: 14px;
  /*padding-top: 2px;*/
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  text-align: right;
  color: #092193;
  /*background-image: url("img/alps_banner.jpg");*/
}
#header small {
  color: #3949AB;
}
.active {
  background-color: #DDD !important;
  color: rgba(0,0,0, 0.87) !important;
}
.filter_panel {
  width: 265px !important;
  min-width: 265px !important;
  max-width: 265px !important;
}
/*h2 {*/
  /*font-size: 30px;*/
/*}*/
.about {
  width: 300px;
  text-align: justify;
  text-justify: auto;
  margin-left:10px;
}
.login {
  float: right !important;
  right: 0px;
}

.box_border
{
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 7px;
  margin: 5px 5px;

}
.monitor_value
{
  border-left: 1px solid #ddd;
  padding-left: 5px;


}